{% extends 'Doct/base.html' %}
{% load staticfiles %}
<!-- 
link for the popup

http://makecodeeasy.blogspot.ug/2012/07/popup-in-java-script-and-css.html -->

{% block navbar %}
<div id = "navigation">

<nav class="cf">
  <ul class="topmenu">
    <!--<li><a href="#" title="Home Page" class="current">Home</a></li>
    -->
    <li><a href="/Doct/about/">About Us</a>
        <ul class="submenu">
              <!-- <a href="/Doct/diogform/">Diognise</a> -->
          <li><a href="edit_employee.php" title="Update Staff Details">Update </a></li>                 <li><a href="delete_employee.php" title="Delete Staff Details">Delete </a></li>           
                    </ul>
    </li>
    <li><a href="/Doct/contact/">Contact Us</a>
      <ul class="submenu">
              <li><a href="view_taxi.php" title="View Taxi Details">View </a></li>
          <li><a href="edit_taxi.php" title="Update Taxi Details">Update </a></li>                <li><a href="delete_taxi.php" title="Delete Taxi Details">Delete </a></li>           
                    </ul>
    </li>

    <li><a href="/Doct/team/">Our Team</a>
      <ul class="submenu">
              <li><a href="view_taxi.php" title="View Taxi Details">View </a></li>
          <li><a href="edit_taxi.php" title="Update Taxi Details">Update </a></li>                <li><a href="delete_taxi.php" title="Delete Taxi Details">Delete </a></li>           
                    </ul>

    <li><a href="/Doct/user_log/"> Log In</a>
          <ul class="submenu">
              <li><a href="view_verification.php" title="Verification Details">View Verification</a></li>
              <li><a href="edit_vcode.php" title="Verification Edit">Edit Verification</a></li>
                    
                    </ul>
         </li>



    <li><a href="/Doct/login/">Doctor/Admin Log In</a>
          <ul class="submenu">
              <li><a href="view_verification.php" title="Verification Details">View Verification</a></li>
              <li><a href="edit_vcode.php" title="Verification Edit">Edit Verification</a></li>
                    
                    </ul>
         </li>

    <li><a href="/Doct/how_it_works/">How it works</a>
          <ul class="submenu">
              <li><a href="view_verification.php" title="Verification Details">View Verification</a></li>
              <li><a href="edit_vcode.php" title="Verification Edit">Edit Verification</a></li>
                    
                    </ul>
         </li>
<li><a href="/Doct/" title="Logout">Logout</a>
        <ul class="submenu">
              <li><a href="edit_username.php" title="Update Username">Change Username</a></li>   
                    <li><a href="edit_password.php" title=" Update Password">Change Password</a></li>
                    
                    </ul>
        
    </li>


    </ul>
 
     
  
</nav>

</div>





{% endblock %}


{% block body_block %}
Welcome to Online Doctor Consultation System

{% if msg %}
{{msg}}
{% endif %}

{% if registered %}
		<strong>
		<script>alert("You have successfully registered")</script>
		</strong>
		<br />
{% endif %}

<div id="content">

{% if signup %}

{% include "Doct/signup.html" %}

{% elif log  %}

{% include "Doct/login.html" %}

{% elif u_log  %}

{% include "Doct/u_log.html" %}


{% elif recfm  %}

{% include "index_rform.html" %}

{%  else %}
{% load staticfiles %}
<section class="about text-center" id="about" style="width:100%; align:center">
<div class="container" style="width:100%; align:center">
<div class="row" style="width:100%; align:center">
<h2>about us</h2>
<h4>E-sDoctor is the site that you can use for getting Prescription for your sickness Condition at a reduced price of Ugx.3000 within few seconds</h4>

<div class="col-md-4 col-sm-6">
<div class="single-about-detail clearfix">
<div class="about-img">
<img src="img/about1.jpg" alt="">
</div>

<div class="about-details">
<div class="pentagon-text">
	<h1>L</h1>
</div>

<h3>Where we are found ?</h3>
<p>We are located within Kampala, uganda, Kasokoso Kireka D,</p>
</div>
</div>
</div>

<div class="col-md-4 col-sm-6">
<div class="single-about-detail">
<div class="about-img">
<img class="img-responsive" src="img/about2.jpg" alt="">
</div>

<div class="about-details">
<div class="pentagon-text">
	<h1>O</h1>
</div>

<h3>Other Services </h3>
<p>We offer other service like, attending to a patient who needs further help</p>
</div>
</div>
</div>


<div class="col-md-4 col-sm-6">
<div class="single-about-detail">
<div class="about-img">
<img class="img-responsive" src="img/about3.jpg" alt="">
</div>

<div class="about-details">
<div class="pentagon-text">
<h1>F</h1>
</div>

<h3>Where to Send Consultation Payment(fee) ?</h3>
<p>We clearly allow sending of Consultaion(prescription) Fee  to A Ugandan Telephone +256754307471.</p>
</div>
</div>
</div>

</div>
</div>
</section><!-- end of about section -->



{% endif %}
</div>

<script type='text/javascript'>

//F
//form validation
  $(document).ready(function(){
    $("#changeloginform_form").validate({
    rules:{

          username:
            {
            required:true,
            minlength:3,
            maxlength:20,
            },
            password:
            {
            required:true,
            minlength:5,
            maxlength:30,
            },
        
    },
          messages: {
      username: {
        required: "Please provide a username",
        minlength: "Please provide a Valid username",
        maxlength:"Please provide a Valid username",
      },
      password: {
        required: "Please provide a password",
         minlength: "Please provide a Valid password",
         maxlength:"Please provide a Valid password",
      },
    },

    });
    });



</script>
<div>

</div>



{% endblock %}


		




	
