{% extends 'Doct/base.html' %}

{% load staticfiles %}

{% block navbar %}

<div id = "navigation">

<nav class="cf">
  <ul class="topmenu">
          <li><a href="#">Manage Users</a>
        <ul class="submenu">
              <!-- <li><a href="edit_username.php" title="Update Username">Change Username</a></li>   
                    <li><a href="edit_password.php" title=" Update Password">Change Password</a></li> -->
                    
                    </ul>
        
    </li>

   


          <li><a href="/Doct/regdoctor/" >Register a Doctor</a>
        <ul class="submenu">
              <!-- <li><a href="edit_username.php" title="Update Username">Change Username</a></li>   
                    <li><a href="edit_password.php" title=" Update Password">Change Password</a></li> -->
                    
                    </ul>
        
    </li>


          <li><a href="/Doct/delP/">Delete Record</a></li>
        <ul class="submenu">
              <!-- <li><a href="edit_username.php" title="Update Username">Change Username</a></li>   
                    <li><a href="edit_password.php" title=" Update Password">Change Password</a></li> -->
                    
                    </ul>
         </li>

       
         <li><a href="/Doct/admin_pat/">View Patients</a></li>
        <ul class="submenu">
              <!-- <li><a href="edit_username.php" title="Update Username">Change Username</a></li>   
                    <li><a href="edit_password.php" title=" Update Password">Change Password</a></li> -->
                    
                    </ul>
        
    </li>
      
      <li><a href="/Doct/admin_doct/">View Doctors </a></li>
        <ul class="submenu">
              <!-- <li><a href="edit_username.php" title="Update Username">Change Username</a></li>   
                    <li><a href="edit_password.php" title=" Update Password">Change Password</a></li> -->
                    
                    </ul>
        
    </li>

     <li><a href="/Doct/" title="Logout">Logout</a>
        <ul class="submenu">
              <!-- <li><a href="edit_username.php" title="Update Username">Change Username</a></li>   
                    <li><a href="edit_password.php" title=" Update Password">Change Password</a></li> -->
                    
                    </ul>
        
    </li>

   </ul>



</nav>

</div>


<div id = "navig" style="width: 10%; align:left;line-height: 2em;
padding: 0px 1.5em; text-decoration: none;display: block; ">

</div>
{% endblock %}



{% block body_block %}

	<div class="imgs">

{% if illness %}You have successfully sent your illness detail And Check Your Diagnosis after 5 minutes {% endif %}
<p>&nbsp;</p>



</div>


	    <div id="content">
      {% if p %}
   
      {% include "Doct/admin_patientD.html" %}

      {% elif not p %}

       <h2 style="color:green"> {{msg1}}</h2>

       {% elif d %}

        {{msg}} 

      {% include "Doct/admin_doctorD.html" %}

       {% elif not d %}
       
       <h2 style="color:green"> {{msg1}} </h2>

      {% elif ill %}

<h2>Patients'  Illness</h2>
 <table width="300" border="0" cellpadding="30" style="text-align: center">

  <tr> 
  <th width="75"><strong> Email</strong></th> 
  <th><span style="font-weight: bold;">Patient Name</span></th> 
  <th><span style="font-weight: bold;">Staff pic</span></th> 
  <th width="75"><strong>Gender</strong></th> 
  <th><span style="font-weight: bold;">Illness</span></th>
  <th><span style="font-weight: bold;">Staff pic</span></th>  
  <th><span style="font-weight: bold;">Kin</span></th>
  <th><span style="font-weight: bold;">Kintelno</span></th> 
  <th><span style="font-weight: bold;">Staff pic</span></th> 
  <th width="75"><strong> Username</strong></th> 
  <th><span style="font-weight: bold;">Staff pic</span></th>
  <th width="75"><strong>Patient age</strong></th> 
  </tr> 
{% for ill in ill %}
  <tr> 
  <td>{{ill.email}}</td>
   <td><a href="tel:0123456785">{{ill.pname}}</a></td> 
   <td><img src="{% static 'doct.jpg' %}" alt="checked" width="50px" height="50px" /></td>
   <td>{{ill.gender}}</td> 
   <td><a href="tel:0123456785">{{ill.illness}}</a></td> 
   <td><img src="{% static 'pat.jpg' %}" alt="checked"  width="50px" height="50px"/></td>
   <td>{{ill.kin }}</td> <td><a href="tel:0123456785">{{ill.kintelno}}</a></td> 
   <td><img src="{% static 'doct2.jpg' %}" alt="checked" width="50px" height="50px"/></td><td>{{ill.username}}</td>
       <td><img src="{% static 'doct2.jpg' %}" alt="checked"  width="50px" height="50px"/></td>
    <td><a href="tel:0123456785">{{ill.page}}</a></td>
 
   
    </tr>
{% endfor %}

   </table>
   {% endif %}
</div>	   




	
{% endblock %}

