
{% load staticfiles %}

{% if illness %}You have successfully sent your Sickness detail And Check Your Diagnosis after 5 minutes {% endif %}

<h2>Patient Registration Records </h2>
<p>&nbsp;</p>
 <table width="300" border="0" cellpadding="30" style="text-align: center">

  <tr> 
  <th width="75"><strong> First Name</strong></th> 
  <th><span style="font-weight: bold;">Second Name</span></th> 
  <th><span style="font-weight: bold;">Staff pic</span></th> 
  <th width="75"><strong> Patient Age</strong></th> 
  <th><span style="font-weight: bold;">Gender</span></th> 
  <th><span style="font-weight: bold;">Staff pic</span></th>
  <th><span style="font-weight: bold;">Telephone Number</span></th> 
  <th width="75"><strong> Username</strong></th> 
  <th><span style="font-weight: bold;">Staff pic</span></th>
  <th><span style="font-weight: bold;">Password</span></th> 
  <th><span style="font-weight: bold;">Staff pic</span></th>
  <th width="75"><strong> Email</strong></th> 
  <th><span style="font-weight: bold;">Staff pic</span></th>
  <th><span style="font-weight: bold;">Street</span></th> 
  <th width="75"><strong> City </strong></th> 
  <th><span style="font-weight: bold;">Staff pic</span></th>
  <th><span style="font-weight: bold;">State</span></th> 
  <th><span style="font-weight: bold;">Zip Code</span></th> 
  <th><span style="font-weight: bold;">Staff pic</span></th>
  <th width="75"><strong> specialty</strong></th> 
  <th><span style="font-weight: bold;">Role</span></th> 
 <th><span style="font-weight: bold;">Staff pic</span></th>
  </tr> 
{% for p in p %}
  <tr> 
  <td>{{p.fname}}</td>
   <td><a href="tel:0123456785">{{p.sname}}</a></td> 
   <td><img src="{% static 'doct.jpg' %}" alt="checked" width="50px" height="50px" /></td>
   <td>{{p.page}}</td> 
   <td><a href="tel:0123456785">{{p.gender}}</a></td> 
   <td><img src="{% static 'pat.jpg' %}" alt="checked"  width="50px" height="50px"/></td>
   <td>{{p.telno }}</td> <td><a href="tel:0123456785">{{p.username}}</a></td> 
   <td><img src="{% static 'doct2.jpg' %}" alt="checked" width="50px" height="50px"/></td><td>{{p.password}}</td>
       <td><img src="{% static 'doct2.jpg' %}" alt="checked"  width="50px" height="50px"/></td>
    <td><a href="tel:0123456785">{{p.email}}</a></td>
    <td><img src="{% static 'pat.jpg' %}" alt="checked"  width="50px" height="50px"/></td>
    <td>{{p.street}}</td>
    <td><a href="tel:0123456785">{{p.city}}</a></td>
    <td><img src="{% static 'doct2.jpg' %}" alt="checked"  width="50px" height="50px"/></td>
    <td>{{p.state}}</td> 
    <td><a href="tel:0123456785">{{p.zip_code}}</a></td>
    <td><img src="{% static 'pat.jpg' %}" alt="checked" width="50px" height="50px"/></td>
    <td>{{p.specialty}}</td>
    <td><a href="tel:0123456785">{{p.role}}</a></td>
    <td>   <img src="{% static 'doct.jpg' %}" alt="checked"  width="50px" height="50px" /></td>
    </tr>
{% endfor %}

   </table>






