

{% load staticfiles %}

<div class="heder"><h1 align="center">View Diognosis</h1></div>
<div id="imgs"><table><tr><td><img src="{% static 'doct.jpg' %}" alt="pat" width="100px" height="100px" align="left"/></td><td>
<img src="{% static 'pat.jpg' %}" alt="pat" width="100px" height="100px" align="right"/></td></tr></table></div>

<h2 align="center"><b > Enter Payment Id</b></h2>
<fieldset style="width:60%; margin-right:20px; margin-left:17px">
<form action="/rango/authdiog/" method="post" style=" border:0px solid black; width:900px; height:300px;margin:30px">

<table >
{% csrf_token %}
<tr><td>Payment Id</td><td><input type="text" name="payi"/></td></tr>
<tr><td><input type="submit" name="submit" value="submit"/></td></tr> 
</table>
</form>
</fieldset>




		<!-- <form id="user_form" method="post" action="/rango/register/" enctype="multipart/form-data">

		{% csrf_token %}

		Display each form. The as_p method wraps each element in a paragraph
				(<p>) elements. This ensures each element appears on a new line,
				making everything look neater.
			{{ user_form.as_p }}
			{{ profile_form.as_p }}

			Provide a button to click to submit the form 
			<input type="submit" name="submit" value="Register" />
		</form> -->
	
