<!DOCTYPE HTML>
{% load static %}
<html>
<head>
<title>Doctor(Medical)  Consultation Website | Home </title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="all" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link href="{% static 'css/slider.css' %}" rel="stylesheet" type="text/css" media="all"/>
<script src="http://code.angularjs.org/1.2.6/angular.js"></script> 
    <script src="app.js"></script>
    
</head>
<body>

{% block nav_bar %}
<div class="header" style="width: 2000px; ">
<div class="wrap">
<div class="logo"  ><a href="index.html" style="color: #fff; font-size: 32px;"><img src="{% static 'images/logocon.jpe' %}"  style="" alt="" />Online Doctor(Medical) Consulation</a></div>
   <div class="con-right">
      <div class="grid1-l-img">
        <img src="{% static 'images/contact.png' %}" alt="">
      </div>
      <div class="grid1-l-desc">
        <p>Contact : +256754307471</p>
      </div>
      <div class="clear"></div>
  </div>
    <div class="clear"></div>
     </div>
</div>
<div class="header-bottom">
      <div class="wrap">
        <ul id="nav">
                <li><a class="hsubs" href="/Doct/" title="Logout">Home</a></li>
                <li><a class="hsubs" href="/Doct/about/">About Us</a></li>
                <li><a class="hsubs" href="/Doct/team/">Our Team</a>
                <li><a class="hsubs" href="/Doct/register/">Sign Up</a>
                 <li><a class="hsubs" href="/Doct/login/">Doctor/Admin Log In</a></li>
                <li><a href="/Doct/contact/">Contact Us</a></li>
                <li><a href="/Doct/how_it_works/">How it works</a></li>

                {% if qconvs or ill_more %}
            
                 <li><form action="/Doct/converse/" style="height:35px;border: 0px; background-color: #3399FF" id="changesicknessform_form" method="post">
                {% csrf_token %}

                <input type="hidden" name="username" value="{{username}}" style="width: 200px; border: 0px; " id="dname"/>

                <input type="hidden" name="dusername" value="0754307471" style="width: 200px; border: 0px; " id="dname"/>

                <tr><td style="width: 4px; padding-bottom: 10px"><input type="submit" name="submit" value="Converse"  style="width: 100px; border: 0px; background-color: white; color: #337ab7; " /></td></tr>

                </form>
                <ul class="submenu">
                      <!-- <li><a href="edit_username.php" title="Update Username">Change Username</a></li>   
                            <li><a href="edit_password.php" title=" Update Password">Change Password</a></li> -->
                    
                    </ul> </li>

                    {% endif %}

                <li><a href="/Doct/whyus/">Why Us</a></li>
                    <ul class="subs">
                        <li><a href="#">Hotels</a></li>
                        <li><a href="#">Restaurants</a></li>
                        <li><a href="#">Beach Resorts</a></li>
                    </ul>
                </li>
                {% if user.is_authenticated %}

                <li><a href="/Doct/logout/">Logout</a></li>

                {% endif %}
               
        </ul>

       </div>
</div>

{% endblock %}



{% block sickness_det %}

{% endblock %}


<div class="header-banner">
<div class="wrap">
  <div class="banner">
    <div class="indent">
                
                {% block body_block %} 



                {% block body_images %} 

                {% endblock %}  


                {% endblock %}  

                





<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script src="{% static 'js/script.js' %}"></script>
         </div>                                   

{% block side_menue %}

{% endblock %}

     
  </div>
    <div class="clear"></div>
      
        <div class="clear"></div>
      </div>
      </div>


      {% block bottom_content %}

    
        {% endblock %}

     </div>
      </div>

      </div></div>



      {% block footer %}


{% endblock %}
</body>
</html>
