<option value="0" >Select Condition</option>
<option value="Take Headaches" >Head pain</option>
<option value="Genital herbs; Please take Aciclovir drug" >painful urination, muscle aches</option>
<option value="hookworm infections; Please take Aciclovir drug">itchness and small rash</option>
<option value="Please take Aluminium Hydroxide drug" >Stomach pain</option>
<option value="Ulcer; Please take Aluminium Hydroxide drug">pain when stomach is empty</option>
<option value="Malaria;Please take Antimalaria drug" >high temperature, headache, sweeting, shaking, vomiting</option>
<option value="Respiratory infections; Please take Amoxicilin drug">congestion in lungs, runny nose, sore throat, cough</option>
<option value="pneumonia; Please take Amoxicilin drug">increased breathing rate, chest pain, cough that produces blood</option>
<option value="Animal Bite;Please take Amoxicillin drug">Animal Bite</option>
<option value="Vitamin C deficiency; Please take Vitamine C food like Leafy green vegetables, Tomatoes, Citrus fruits, Cantaloupe, Broccoli, Papaya" >poor healing of wound, rough skin, swollen gum,red spot on skin</option>
<option value="Hypertension;Please take Esidrex drug">chest pain, swelling in ankles or legs, diziness</option>
<option value="Trachoma; Please take Zithromax drug">eye pain, itching of eyes, eyelid swelling</option> 
<option value="Genital infections;Please take Zithromax drug">pain during sex and  itching , swelling around vagina</option>
<option value="Asma;Please take Beclometasone drug">Pain when swallowing, difficulty in breathing, sore throat</option>
<option value="Constipation;Please take Bisacodyl or Dulcolax drug ">hard faeces that are difficult to pass, pain in abdomen, gas, loss of apetite</option>
<option value="Epilepsy;Please take Carbamazepine drug ">loss of awareness,temporary confusion</option>
<option value="Gonorrhoea  Uncomplicated;Please take Cefixime drug ">discharge from tip of penis or virgina, pain while urinating, bleeding between periods</option>
<option value="Typhoid fever;Please take Chloramphenicol drug">aches and pains, headaches, abdominal pain, poor appetite, diarrhea</option>
<option value="plaque;Please take Chloramphenicol drug ">Painful chewing, loose teeth, longer appearing teeth, swollen gum</option>
<option value="meningitis;Please take Chloramphenicol drug">cold hands and feet, difficult to wake, Confusion,Severe muscle pain,Severe headache</option>
<option value="Allergy;Please take Chloramphenicol drug"">sneezing and an itchy,  blocked nose</option>
<option value="Urinary tract infecions;Please take Ciprofloxacin drug ">A frequent or intense urge to urinate, even though little comes out when you don't want</option>
<option value="Depression;Please take Clomipramine drug">Difficulty concentrating, remembering details, and making decisions</option>
<option value="Prevention of panic attacks;Please take Clomipramine drug">Prevention of breathing difficulties</option>
<option value="Hiv infection;Please take Triomune drug">Headache, high temperature above normal, Muscle aches and joint pain, sore throat, Swollen lymph glands, mainly on the neck, Rash</option>
<option value="Conjunctivitis;Please use Tetracycline eye ointmen">eye redness,tears, itchy eyes</option>
<option value="Anxiety; Please take alprazolam drug ">Sleeping Problems</option>
<option value="Heart failure">Rapid heartbeat</option>
<option value="Cholera"> Frequent comming out of faeces, Need to vomit, vomiting)</option>
<option value="Syphilis">A painless ulcer around panis or vagina</option>
<option value="Congestive Heart Attach">racing heart, memory loss, feeling of full stomach</option>
<option value="Rickets">Soft and weak bones of a child</option>
<option value="Tuberculosis">A cough with thick, watery, and sometimes bloody mucus from the lungs </option>
<option value="anaemia">Easy fatigue and loss of energy</option>
<option value="Fungal infection">Fungi infection</option>
<option value="Malnutrition">Tiredness all day and lack of energy</option>

<option value="Fever">Headache. Muscle aches. Loss of appetite. Dehydration</option>
<option value="Iodine Defiency">Unusual weight gain</option>
<option value="Scabies">Thick crusts on the skin,Itching,Rash,Sores</option>
<option value="Severe pain" >Severe pain</option>
<option value="Hypertension in pregnancy">High blood pressure,Headaches,Vomiting,Shoulder Pain,Lower Back Pain</option>
<option value="Vomiting in Adults">Vomiting in Adults</option>
<option value="Cancer pain" >Cancer pain</option>
<option value="Pellegra">hair loss,swelling,weakness</option>
<option value="Premature labour">Lower Backache, Premature labour</option>
<option value="Dehydration" >thirst and dark-coloured urine</option>
<option value="Stress">Low energy,Headaches</option>
<option value="Ascariasis" >Vomiting worms,Stomach pain,Shortness of breath</option>
<option value="leprosy">muscle weakness,numbness in the hands, arms, feet, and legs</option>
<option value="Beriberi"> The swelling of bodily tissues,pain in the limbs</option>
<option value="Amoeba">fever, nausea, vomiting, and pain</option>
<option value="Chronic pain"> pain lasting more than 12 weeks</option>
<option value="Long term contraception">Missed periods,Decreased libido,Mood changes,Weight gain,Headaches</option>
<option value="Diebetis">Urinating often,feeling very thirsty,Feeling very hungry,Blurry vision,Weight loss</option>
<option value="nausea">Food poisoning, Early stages of pregnancy,vomiting after taking medication,Intense pain,Emotional stress</option>
<option value="Surgery pain">Surgery pain</option>
<option value="Trauma pain">Mental Disorder</option>
<option value="Prevention of Turbercolosis">Prevention of Turbercolosis</option>
<option value="Hypertisis B prevention">Hypertisis B prevention</option>
<option value="Measles prevention">Measles prevention</option>
<option value="Tetenus prevention">Tetenus prevention</option>
<option value="Yello fever prevention">Yello fever prevention </option>
<option value="Pruritus"> Raised portion of skin that is filled with fluid,rash,dry skin,cracked skin, skin redness</option>
<option value="Vaginal Candidiasis"> Itching and a thick, white discharge of vigina</option>
<option value="Skin itching">Skin itching</option>
<option value="lice in the head">lice in the head</option>
<option value="Clensing contaminated wound" >Clensing contaminated wound</option>


