<option value="0" >Select Condition</option>
<option value="Head pain" >Head pain</option>
<option value="Pain or Fever">Pain or Fever</option>
<option value="3" >Genital herbs</option>
<option value="4">hookworm infections</option>
<option value="5" >Stomach pain</option>
<option value="6">Ulcer</option>
<option value="7" >Malaria</option>
<option value="8">Respiratory infections</option>
<option value="9" >pneumonia</option>
<option value="10">Animal Bite</option>
<option value="11" >Vitamin C deficiency</option>
<option value="12">Hypertension</option>
<option value="13" >Trachoma</option>
<option value="14">Genital infections</option>
<option value="15" >Asma(Continoues Asma)</option>
<option value="16">Constipation</option>
<option value="17" >Epilepsy</option>
<option value="18">Gonorrhoea  Uncomplicated</option>
<option value="19" >Typhoid fever in Children</option>
<option value="20">Typhoid fever-</option>
<option value="21" >plaque</option>
<option value="2">Pain or Fever</option>
<option value="22">meningitis</option>
<option value="23">Allergy</option>
<option value="24">Urinary tract infecions</option>
<option value="25">Depression</option>
<option value="26">Prevention of panic attacks</option>
<option value="27">Pain</option>
<option value="28">Oral contraception</option>
<option value="29">Anxiety</option>
<option value="30">Heart failure</option>
<option value="31">Cholera</option>
<option value="32">Syphilis</option>
<option value="33">Congestive Heart Attach</option>
<option value="34" >Rickets</option>
<option value="35">Tuberculosis</option>
<option value="36">anaemia</option>
<option value="37">Fungal infection</option>
<option value="38">Malnutrition</option>
<option value="39">Repeated malaria</option>
<option value="40">Fungi infection</option>
<option value="41">Fever</option>
<option value="42">Iodine Defiency</option>
<option value="43">Scabies</option>
<option value="44" >Severe pain</option>
<option value="45">High fever</option>
<option value="46">Hypertension in pregnancy</option>
<option value="47">Vomiting in Adults</option>
<option value="48" >Cancer pain</option>
<option value="49">Tapeworm</option>
<option value="50">Pellegra</option>
<option value="51">Premature labour</option>
<option value="52" >Dehydration</option>
<option value="53">Stress</option>
<option value="54" >Ascariasis</option>
<option value="55">Severe malnutrition</option>
<option value="56" >leprosy</option>
<option value="57">Asma Attack</option>
<option value="58">Hiv-1 infection</option>
<option value="59">Beriberi</option>
<option value="60" >Anaerobic backteria</option>
<option value="61">Amoeba</option>
<option value="62">Chronic pain</option>
<option value="63">Tetenus</option>
<option value="64">Long term contraception</option>
<option value="65">Sever Fungal infection</option>
<option value="66" >Severe Hypertension In Pregnancy</option>
<option value="67">Diebetis</option>
<option value="68">Contraception</option>
<option value="69">nausea</option>
<option value="70">Surgery pain</option>
<option value="71">Trauma pain</option>
<option value="72">Prevention of Turbercolosis</option>
<option value="73">Hypertisis B prevention</option>
<option value="74">Measles prevention</option>
<option value="75">Tetenus prevention</option>
<option value="76">Yello fever prevention </option>
<option value="77">Pruritus</option>
<option value="78">Vaginal Candidiasis</option>
<option value="79">Skin itching</option>
<option value="80">lice in the head</option>
<option value="81" >Clensing contaminated wound</option>
<option value="82">oozing ezma</option>
<option value="83">Trochoma</option>
<option value="84">Conjunctivitis</option>
<option value="85">Hiv-1, Hiv-2 infection</option>
