
<h2 style="color: #42B3E5;">contact us</h2>


<div class="col-md-5 contact-info text-left">
<h3>contact information</h3>
<div class="info-detail">
<ul><li><i class="fa fa-calendar"></i><span>Monday - Friday:</span> 9:30 AM to 6:30 PM</li></ul>
<ul><li><i class="fa fa-map-marker"></i><span>Address:</span> 123 Some Street , California, US, CP 123</li></ul>
<ul><li><i class="fa fa-phone"></i><span>Phone:</span> (01) 999-1235</li></ul>
<ul><li><i class="fa fa-fax"></i><span>Fax:</span> (01) 999-1234</li></ul>
<ul><li><i class="fa fa-envelope"></i><span>Email:</span> info@domain.com</li></ul>
  </div>
</div>


<div class="col-md-6 col-md-offset-1 contact-form">
<h3>leave us a message</h3>

<form class="form">
<input class="name" type="text" placeholder="Name">
<input class="email" type="email" placeholder="Email">
<input class="phone" type="text" placeholder="Phone No:">
<textarea class="message" name="message" id="message" cols="30" rows="10" placeholder="Message"></textarea>
<input class="submit-btn" type="submit" value="SUBMIT">
</form>
</div>

</section><!-- end of contact section -->
