{% extends 'Doct/base.html' %}
{% load staticfiles %}
<!-- 
link for the popup

http://makecodeeasy.blogspot.ug/2012/07/popup-in-java-script-and-css.html -->

{% block nav_bar %}
<div class="header">
<div class="wrap">
<div class="logo"><a href="index.html" style="color: #fff; font-size: 32px;"><img src="{% static 'images/logocon.jpeg' %}"  style="width:40px" alt="" />Online Doctor(Medical) Consulation</a></div>
   <div class="con-right">
      <div class="grid1-l-img">
        <img src="{% static 'images/contact.png' %}" alt="">
      </div>
      <div class="grid1-l-desc">
        <p>Contact : +256754307471</p>
      </div>
      <div class="clear"></div>
  </div>
    <div class="clear"></div>
     </div>
</div>
<div class="header-bottom">
      <div class="wrap">
        <ul id="nav">
                <li><a class="hsubs" href="/Doct/" title="Logout">Home</a></li>
                <li><a class="hsubs" href="/Doct/convbaddy/">Converse</li>
                
               
        </ul>

       </div>
</div>

{% endblock %}



{% block body_block %}
<strong style="color:#CCCCCC;"></strong>
{% if msg %}
{{msg}}
{% endif %}

{% if registered %}
		<strong>
		<script>alert("You have successfully registered")</script>
		</strong>
{% endif %}

<div id="">

{% if log %}

{% include "Doct/convauth.html" %} 

{% elif log  %}

{% include "Doct/login.html" %}

{% elif u_log  %}

{% include "Doct/u_log.html" %}


{% elif recfm  %}

{% include "Doct/index_rform.html" %}

{%  else %}

{% include "Doct/convauth.html" %} 



</div>

{% endif %}
</div>

<div>









</div>



{% endblock %}


		




	
