{% extends "Doct/base_site_admin.html" %}

{% block breadcrumbs %}
<ul class="breadcrumb">
<li><a href="">Home</a>
<span class="divider"><i class="icon-angle-right"></i></span>
</li>
<li>{{ page_title |capfirst }}</li>
</ul>
{% endblock %}


{% block pretitle %}
{{pretitle |capfirst  }}
{% endblock %}


{% block content %}


<section class="module">
      <div class="module-head">
        <b>Create A Staff User</b> <small><i>With great power comes great responsibility , don't be careless!! </i></small>
      </div><!--/.module-head-->
      <div class="module-body">

      <div id='signup_form_response'>
{% include "Doct/form-error.html" %}
</div>

        <form class="form-horizontal" method="POST" action="" id="createadminuserform">
          {% csrf_token %}


          <section class="docs">
          <h4>Staff Details</h4>
          <hr />
          </section>


           <div class="control-group">
            <label class="control-label">First Name</label>
            <div class="controls">
              <input type="text" class="input-block-level" placeholder="First Name" name="fname">
            </div>
          </div>

           <div class="control-group">
            <label class="control-label">Second Name</label>
            <div class="controls">
              <input type="text" class="input-block-level" placeholder="Second Name" name="sname">
            </div>
          </div>

           <div class="control-group">
            <label class="control-label">Age</label>
            <div class="controls">
              <input type="text" class="input-block-level" placeholder="Age" name="page">
            </div>
          </div>
        
          <div class="control-group">
            <label class="control-label">Gender</label>
            <div class="controls">
              <select name="gender"  required="True"><option value="Male" >Male</option><option value="Female">Female</option></select>
            </div>
          </div>

             <div class="control-group">
            <label class="control-label">Phone No</label>
            <div class="controls">
              <input type="text" class="input-block-level" placeholder="Phone number" name="telno">
            </div>
          </div>

          

          <div class="control-group">
            <label class="control-label">Email</label>
            <div class="controls">
              <input type="text" class="input-block-level" placeholder="email address" name="email">
            </div>
          </div>

            <div class="control-group">
            <label class="control-label">Username</label>
            <div class="controls">
              <input type="text" class="input-block-level" placeholder="username" name="username">
            </div>
          </div>


          <div class="control-group">
            <label class="control-label">Street</label>
            <div class="controls">
              <input type="text" class="input-block-level" placeholder="Street" name="street">
            </div>
          </div>

          <div class="control-group">
            <label class="control-label">Specialty</label>
            <div class="controls">
              <input type="text" class="input-block-level" placeholder="Specialty" name="specialty">
            </div>
          </div>

           <div class="control-group">
            <label class="control-label">Password</label>
            <div class="controls">
              <input type="password" class="input-block-level" placeholder="Password" name="password" style="width: 180px">
            </div>
          </div>



          <div class="control-group">
            <label class="control-label">Repeat Password</label>
            <div class="controls">
              <input type="password" class="input-block-level" placeholder="repeat password" name="password2" style="width: 180px">
            </div>
          </div>


          <div class="control-group">
            <label class="control-label">Upload Photo</label>
            <div class="controls">
              <input class="passport_image_upload" id="passport" name="profile_pic" size="8" type="file" multiple accept='image/*,application/pdf'>
            </div>
          </div>


             <div class="control-group">
            <label class="control-label">Role</label>
            <div class="controls">
                <select class="span7" name="role">
                  <option value="doctor">doctor</option>
                  <option value="admin">Admin</option>
                  <option value="superadmin"> Super Admin</option>
                </select>
            </div>
          </div>



           <div class="control-group">
            <div class="controls">
          <button class="btn btn-primary">Create User</button>
          <input class="btn" type="reset" value="Reset">
          </div>
          </div>

        </form>
      </div><!--/.module-body-->
    </section>


<!-- Form Validation -->
<script type="text/javascript" src="{{STATIC_URL}}js/jquery.form-validation.js"></script>
<script type="text/javascript">
$(document).ready(function(){
    $("#createadminuserform").validate({


    });
    });

</script>

{% endblock %}


