

{% load staticfiles %}



{% if illness %}

You have successfully sent your illness detail And Check Your Diagnosis after 5 minutes 

{% endif %}

<p>&nbsp;</p>

<p>&nbsp;</p>

<img src="doct.jpg"  alt=""/><img src="doct2.jpg" alt=" "doct2"  width="220px" height="150px" style="/><img src="pat.jpg" alt="pat" width="250px" height="150px"/>

<h2>Patients'  Illness</h2>
 <table width="300" border="0" cellpadding="30" style="text-align: center">

  <tr> 
  <th width="75"><strong> Email</strong></th> 
  <th><span style="font-weight: bold;">Patient Name</span></th> 
  <th><span style="font-weight: bold;">Staff pic</span></th> 
  <th width="75"><strong>Gender</strong></th> 
  <th><span style="font-weight: bold;">Illness</span></th>
  <th><span style="font-weight: bold;">Staff pic</span></th>  
  <th><span style="font-weight: bold;">Kin</span></th>
  <th><span style="font-weight: bold;">Kintelno</span></th> 
  <th><span style="font-weight: bold;">Staff pic</span></th> 
  <th width="75"><strong> Username</strong></th> 
  <th><span style="font-weight: bold;">Staff pic</span></th>
  <th width="75"><strong>Patient age</strong></th> 
  </tr> 
{% for ill in ill %}
  <tr> 
  <td>{{ill.email}}</td>
   <td><a href="tel:0123456785">{{ill.pname}}</a></td> 
   <td><img src="{% static 'doct.jpg' %}" alt="checked" width="50px" height="50px" /></td>
   <td>{{ill.gender}}</td> 
   <td><a href="tel:0123456785">{{ill.illness}}</a></td> 
   <td><img src="{% static 'pat.jpg' %}" alt="checked"  width="50px" height="50px"/></td>
   <td>{{ill.kin }}</td> <td><a href="tel:0123456785">{{ill.kintelno}}</a></td> 
   <td><img src="{% static 'doct2.jpg' %}" alt="checked" width="50px" height="50px"/></td><td>{{ill.username}}</td>
       <td><img src="{% static 'doct2.jpg' %}" alt="checked"  width="50px" height="50px"/></td>
    <td><a href="tel:0123456785">{{ill.page}}</a></td>
 
   
    </tr>
{% endfor %}

   </table>
</table>


