
{% load staticfiles %}

{% if illness %}You have successfully sent your illness detail And Check Your Diagnosis after 5 minutes {% endif %}
<p>&nbsp;</p>

<h2>{{msg}}</h2>
 <table width="300" border="0" cellpadding="30" style="text-align: center">

  <tr> 
  <th width="75"><strong> First Name</strong></th> 
  <th><span style="font-weight: bold;">Second Name</span></th> 
  <th><span style="font-weight: bold;">Staff pic</span></th> 
  <th width="75"><strong> Doctor Age</strong></th> 
  <th><span style="font-weight: bold;">Gender</span></th> 
  <th><span style="font-weight: bold;">Staff pic</span></th>
  <th><span style="font-weight: bold;">Telephone Number</span></th> 
  <th width="75"><strong> Username</strong></th> 
  <th><span style="font-weight: bold;">Staff pic</span></th>
  <th><span style="font-weight: bold;">Password</span></th> 
  <th><span style="font-weight: bold;">Staff pic</span></th>
  <th width="75"><strong> Email</strong></th> 
  <th><span style="font-weight: bold;">Staff pic</span></th>
  <th><span style="font-weight: bold;">Street</span></th> 
  <th width="75"><strong> City </strong></th> 
  <th><span style="font-weight: bold;">Staff pic</span></th>
  <th><span style="font-weight: bold;">State</span></th> 
  <th><span style="font-weight: bold;">Zip Code</span></th> 
  <th><span style="font-weight: bold;">Staff pic</span></th>
  <th width="75"><strong> specialty</strong></th> 
  <th><span style="font-weight: bold;">Role</span></th> 
 <th><span style="font-weight: bold;">Staff pic</span></th>
  </tr> 
{% for d in d %}
  <tr> 
  <td>{{d.fname}}</td>
   <td><a href="tel:0123456785">{{d.sname}}</a></td> 
   <td><img src="{% static 'doct.jpg' %}" alt="checked" width="50px" height="50px" /></td>
   <td>{{d.page}}</td> 
   <td><a href="tel:0123456785">{{d.gender}}</a></td> 
   <td><img src="{% static 'pat.jpg' %}" alt="checked"  width="50px" height="50px"/></td>
   <td>{{d.telno }}</td> <td><a href="tel:0123456785">{{d.username}}</a></td> 
   <td><img src="{% static 'doct2.jpg' %}" alt="checked" width="50px" height="50px"/></td><td>{{d.password}}</td>
       <td><img src="{% static 'doct2.jpg' %}" alt="checked"  width="50px" height="50px"/></td>
    <td><a href="tel:0123456785">{{d.email}}</a></td>
    <td><img src="{% static 'pat.jpg' %}" alt="checked"  width="50px" height="50px"/></td>
    <td>{{d.street}}</td>
    <td><a href="tel:0123456785">{{d.city}}</a></td>
    <td><img src="{% static 'doct2.jpg' %}" alt="checked"  width="50px" height="50px"/></td>
    <td>{{d.state}}</td> 
    <td><a href="tel:0123456785">{{d.zip_code}}</a></td>
    <td><img src="{% static 'pat.jpg' %}" alt="checked" width="50px" height="50px"/></td>
    <td>{{d.specialty}}</td>
    <td><a href="tel:0123456785">{{d.role}}</a></td>
    <td>   <img src="{% static 'doct.jpg' %}" alt="checked"  width="50px" height="50px" /></td>
    </tr>
{% endfor %}

   </table>


</table>

