{% load staticfiles %}

<h3>Diognise: <strong>Patient  here!</strong><br /></h3>
<br/>

<div>
<fieldset width:60%>
<form action="/Doct/edited_diog/" id="changeeditdiogform_form" method="post" >
{% csrf_token %}
<table style=" border:0px solid black; width:300px; height:300px">
<tr><td>Diog Id</td><td> <input type="text" name="id"  id="dname"  value="{{ediog.id}}"/></td></tr>
<tr><td>Doctor Name </td><td> <select name="dname"  required="True"><option value="" >Select Name</option><option value="Peter">Peter</option></select></td></tr>
<tr><td>Doctors Telno</td><td> <select name="telno"  required="True"><option value="" >Select Number</option><option value="0754307471">+256754307471</option></select></td></tr>
<tr><td>Payment Id</td><td><input type="text" name="gender" id="gender" value="{{illpay.gender}}"/></td></tr>
<tr><td>Diognosis Description</td> <td><input name="diognosis" id="diognosis" value="{{ediog.diognosis}}"></textarea></td></tr>


<tr><td>Patient Age</td> <td><input type="text" name="page" id="page" value="{{ediog.page}}"/></td> </tr> 

<tr><td>Doctor Email</td> <td><select name="email"  required="True"><option value="" >Select Email</option><option value="peter@gmail.com">peter@gmail.com</option></select></td> </tr> 
<tr><td>Ambulance</td> <td><input type="text" name="amb" id="page" value="{{ediog.amb}}"/></td> </tr> 
<tr><td></td> <td><input type="hidden" name="fup" id="page" value="Did the medicines work ?"/></td> </tr> 
<tr><td><input type="reset" name="reset" style="width:100px" /></td> <td><input type="submit" name="submit" value="Submit" style="width:100px"/></td></tr>
</table> 
</form>
<div id="secure_area_message" align="center"></div>
</fieldset>



</div>


