





<form id="signup" action="/Doct/enterpay/"  method="POST" style=" position:absolute; 
    left: 440px;
    display:inline-block;
    z-index:10;margin-top:25px width:300px;">
{% csrf_token %}
        
        
            <h3>Log In</h3>
          
    

            <p>Username:<br>
        
            <input type="text" placeholder="username" name="username"  autofocus  style="width:260px;height:30px;padding: 7px;" />
            </p>


            <p>Password:<br>
        
            <input type="password" placeholder="Password" name="password"  autofocus  style="width:260px;height:30px;padding: 7px;" />
            </p>

            
            
            <input type="hidden" name="role"  id="dname" value="patient"/> 
             <input type="hidden" name="page"  id="dname" value="0"/> 
           

            <p>

            <input type="submit" id="submit"  placeholder="Enter Message" value="Log in" name="SUBMIT" required>
           
             </p>

   

    </form>