{% extends "base.html" %}

{% block content %}
<div id="instructions"> 
  <p>Before you test the app you must be logged in... or else all this doesn't make any sense... Luckily you created an user when running the "manage.py syncdb" command... right?</p> 
</div> 

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

<form method="post" action="{% url django.contrib.auth.views.login %}">
<table>
<tr>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
</tr>
</table>

<input type="submit" value="login" />
<input type="hidden" name="next" value="{{ next }}" />
</form>

{% endblock %}