<div id="formWrapper">
<form action="/Doct/login/" method="post" id="changeloginform_form">
{% csrf_token %}
{% if response %}
<script type="text/javascript">alert("Incorrect Username or Password");</script>
{% endif %}
<fieldset class="first">
<h3>Enter Your Log In details</h3>

<label class="labelone" for="username" required>Username:</label>
<input name="username" type="user"/>

<label for="telno">Password:</label>
<input name="password" type="password"  />


 

<table>
<tr><td><input class="btn" name="submit" type="submit" value="Log In" /></td><td><input class="btn" name="submit" type="reset" value="Clear Form" /></td></tr>
</table>

</form>

</fieldset>