

{% load staticfiles %}

<div style="visibility:visible;position:relative;top: 10px;
    right: 44px; margin-left: 400px;" id="paypalformContainer" align="center">

<form id="signup" action="/Doct/login/"  method="POST" style=" ">
{% csrf_token %}
   
            <h3>Log In</h3>
          
            
        


            <p style="padding: 7px">Username:<br>
            <input type="text" name="username" id="pname" autofocus style="width:340px; height:40px;" />

              </p>

               <p style=' padding: 7px' '>Password:<br>
               <input type="password" name="password" id="pname" autofocus/>

               </p>

            <p style="padding: 7px">


            <input type="submit" id="submit"  placeholder="Enter Message" value="Login" name="SUBMIT" required>
           
             </p>

     

    </form>

    </div>

