
<form id="signup" action="/Doct/ambulance/"  method="POST" style="position:absolute;top: 10px;
    right: 34px">
{% csrf_token %}
        <div class="header">
        
            <h3>Order Ambulance</h3>
          
            <p><a href="/Doct/patientH" title="Logout">Back</a></p>
            
        </div>
        
        <div class="sep"></div>

        <div class="inputs">

            <p style="padding: 12px" >Place(e.g District, village):<br>
      

  
            <input type='text' class='text' name='place'  Placeholder="Place" size='20'   style="width:280px" autofocus/>


            </select>
            </p>

            <p style="padding: 12px">Phone number (Condition):<br>

            <input type="text" name="phone"  style="width:280px" placeholder="Phonenumber" required size='20'  autofocus>


              </p>

               <p style='padding: 12px'>Amount::<br>
                ugx.15,000
            
               </p>

                <p style="padding: 12px">
                Receiver Phonenumber:<br>
                0754307471


               </p>

            <p style="padding: 12px">
            <input type="submit" id="submit" value="Submit" name="SUBMIT" required>
           
             </p>

        
        </div>

    </form>