{% extends 'Doct/base.html' %}

{% load staticfiles %}



{% block body_block %}


<br/>

 <br/>  
 

<div class="divdash">

<div id="div1" >





{% if qconvs %}

<table style="">

<tr><td style="width: 0px"><h1 style=""></h1></td></tr>
<tr><td style="width: 200px"><a href="/Doct/patientConverse/{{qconv.dusername}}/{{qconv.username}}/">
{{dname}}(Doctor)
<br/>

{{dtelno}}

</td></tr>

{% for qconv in qconvs %}

<tr><td style="width: 200px">{{qconv.dusername}}</td></tr>
<tr><td  style="width: 200px">{{qconv.dmsg}}</td></tr>
<tr style=""><td  style="width:200px;">{{qconv.username}}</td></tr>
<tr style=""><td  style="width:200px;padding-bottom: 7px">{{qconv.pmsg}}</td></tr>


{% endfor %}  

</table>
</div>

</div>


{% else %}


{% endif %}


{% if pdiogs %}

 
<div class="divdash">

<div id="div2" >


<table style="margin-top:120px; ">

{% csrf_token %}
<tr><td style="width: 200px"></td></tr>
<tr style="border: 0px; padding-bottom: 7px;"><td style="width: 100px; padding-bottom: 7px">Peter(Doctor)</td></tr>



</table>



<form action="/Doct/converse/" style="height:35px;border: 0px; margin-top: 20px; background-color: #3399FF" id="changesicknessform_form" method="post">
{% csrf_token %}

<input type="hidden" name="username" value="{{username}}" style="width: 200px; border: 0px; " id="dname"/>

<input type="hidden" name="dusername" value="0754307471" style="width: 200px; border: 0px; " id="dname"/>

<tr><td style="width: 4px; padding-bottom: 10px"><input type="submit" name="submit" value="Converse"  style="width: 100px; border: 0px; background-color: white; color: #337ab7; " /></td></tr>

</form>



</div>
</div>




{% if user.authenticated %}

<div class="divdash">
<div id="div3" >


<table  style="margin-right: 1000px;word-wrap: normal;">


{% if pdiogs %}


 {% if pdiogs %}
<tr><td style="width: 200px">Sickness Details</td></tr>
{% endif %}


{% for pdiog in pdiogs %}

<tr><td style="width: 200px">{{pdiog.username}}</td></tr>


{% if pdiog.email %} 

<tr><td  style="width: 200px; word-wrap: break-word;">{{pdiog.illness}}  </td></tr>

{{pdiog.diognosis}} {% else %} 
<p>Pay 30,000 to Mob Phone<br> 0754307471 for seeing<br>doctor's response 
</p>
{% endif %}

{% endfor %}
</table>

</div>
</div>
  
  {% endif %}




{% include "Doct/expillness.html" %} 

{% else %}

 <td style="margin-top: 0px;right:0px">{% include "Doct/expillness.html" %}</td></tr>


{% endif %}



{% else %}






{% if amb_msg %}

<tr><td style="margin-top: 0px"> <h1 style="color:green;margin-left:200px" align="center">{{amb_msg}}<br/> After Sending  Fee of  Ugx.20,000  to 0754307471 First</h1></td></tr>

{% endif %}
<tr><td style="margin-top: 0px"> {% include "Doct/expillness2.html" %}</td></tr>







<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>


 <script type="text/javascript"> 
    function displayForm(c) {
        if (c.value == "1") {

            document.getElementById("ccformContainer").style.visibility = 'visible';
            document.getElementById("paypalformContainer").style.visibility = 'hidden';
        } else if (c.value == "0") {
            document.getElementById("ccformContainer").style.visibility = 'hidden';

            document.getElementById("paypalformContainer").style.visibility = 'visible';
        } else {}
    }



    function displayForm2(c) {
        if (c.value == "0") {

            document.getElementById("ccformContainer").style.visibility = 'visible';
            document.getElementById("paypalformContainer").style.visibility = 'hidden';
        } else if (c.value == "1") {
            document.getElementById("ccformContainer").style.visibility = 'hidden';

            document.getElementById("paypalformContainer").style.visibility = 'visible';
        } else {}
    }




$(document).ready(function(){

 $('#purpose').on('change', function() {
      if ( this.value == '1')
      //.....................^.......
      {
        $("#business").show();
        $("#cond_options").hide();
        
      }
      else
      {
        $("#business").hide();
        $("#cond_options").show();
      }
    });


     $('#ambulance').on('change', function() {
      if ( this.value == '1')
      //.....................^.......
      {
        $("#ambform").show();
        $("#illness").hide();
        
      }
      else
      {
        $("#ambform").hide();
        $("#illness").show();
      }
    });






});




});


    </script>


{% endif %}



{% endblock %}

