
{% load staticfiles %}	

<h3>Enter Consultation Payment : <strong>Details  below!</strong><br /></h3>
<br/>

{% if enterpay %}

<h2>Your payment Id is {{pay_id}}, please don't forget it</h2>
{% endif %}

<fieldset width:60%>
<form action="/Doct/enterpay/" id="changepayform_form" method="post" >
{% csrf_token %}
<table style=" border:0px solid black; width:300px; height:300px">
<tr><td> From Telephone Number </td><td> <input type="text" name="telno"  id="dname"/></td></tr>
<tr><td> To Telephone Number: </td><th>0754307471</th></tr>

<tr><td>Amount</td><td> <input type="text" name="amount" id="telno"/></td></tr>

<tr><td><input type="reset" name="reset" style="width:100px" /></td> <td><input type="submit" name="submit" value="Submit" style="width:100px"/></td></tr>
</table> 
</form>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js" type="text/javascript"></script>
<script type='text/javascript' src="{% static 'js/jquery.form-validation.js' %}"></script>

<script type="text/javascript">
   

$(document).ready(function(){
    $("#changepayform_form").validate({
    rules:{

            telno:
            {
            required:true,
            digits: true,
            maxlength:20,
            },
            amount:
            {
            required:true,
            digits: true,
            maxlength:10,
            },
    },
          messages: {
       
        telno: {
        required: "Telephone number is required",
        digits: "Enter the valid Telephone number",
        maxlength:"Please provide valid phone number",
      },
      amount: {
      required: "Please provide Consultation amount",
      digits: "Enter the valid Consultation amount",
      maxlength:"Please provide valid Consultation amount",
      },
    
    
    },

  

    });
    });





</script>
</fieldset>
   

		<!-- <form id="user_form" method="post" action="/rango/register/" enctype="multipart/form-data">

		{% csrf_token %}

		Display each form. The as_p method wraps each element in a paragraph
				(<p>) elements. This ensures each element appears on a new line,
				making everything look neater.
			{{ user_form.as_p }}
			{{ profile_form.as_p }}

			Provide a button to click to submit the form 
			<input type="submit" name="submit" value="Register" />
		</form> -->
		


