{% extends 'Doct/base.html' %}

{% load staticfiles %}

{% block navbar %}

<div id = "navigation">

<nav class="cf">
  <ul class="topmenu">
          <li><a href="#">Manage Users</a>
        <ul class="submenu">
              <li><a href="edit_username.php" title="Update Username">Change Username</a></li>   
                    <li><a href="edit_password.php" title=" Update Password">Change Password</a></li>
                    
                    </ul>
        
    </li>

   


          <li><a href="/Doct/regdoctor/" >Register a Doctor</a>
        <ul class="submenu">
              <li><a href="edit_username.php" title="Update Username">Change Username</a></li>   
                    <li><a href="edit_password.php" title=" Update Password">Change Password</a></li>
                    
                    </ul>
        
    </li>


          <li><a href="/Doct/delP/">Delete Record</a></li>
        <ul class="submenu">
              <li><a href="edit_username.php" title="Update Username">Change Username</a></li>   
                    <li><a href="edit_password.php" title=" Update Password">Change Password</a></li>
                    
                    </ul>
         </li>

       
         <li><a href="/Doct/admin_pat/">View Patients</a></li>
        <ul class="submenu">
              <li><a href="edit_username.php" title="Update Username">Change Username</a></li>   
                    <li><a href="edit_password.php" title=" Update Password">Change Password</a></li>
                    
                    </ul>
        
    </li>
      
      <li><a href="/Doct/admin_doct/">View Doctors </a></li>
        <ul class="submenu">
              <li><a href="edit_username.php" title="Update Username">Change Username</a></li>   
                    <li><a href="edit_password.php" title=" Update Password">Change Password</a></li>
                    
                    </ul>
        
    </li>

     <li><a href="/Doct/" title="Logout">Logout</a>
        <ul class="submenu">
              <li><a href="edit_username.php" title="Update Username">Change Username</a></li>   
                    <li><a href="edit_password.php" title=" Update Password">Change Password</a></li>
                    
                    </ul>
        
    </li>

   </ul>



</nav>

</div>


<div id = "navig" style="width: 10%; align:left;line-height: 2em;
padding: 0px 1.5em; text-decoration: none;display: block; ">

</div>
{% endblock %}



{% block body_block %}

	<div class="imgs">

{% if illness %}You have successfully sent your illness detail And Check Your Diagnosis after 5 minutes {% endif %}
<p>&nbsp;</p>



</div>


	    <div id="content">
      {% if p %}
   
      {% include "Doct/admin_patientD.html" %}

      {% elif not p %}

       <h2 style="color:green"> {{msg1}}</h2>

       {% elif d %}

        {{msg}} 

      {% include "Doct/admin_doctorD.html" %}

       {% elif not d %}
       
       <h2 style="color:green"> {{msg1}} </h2>

      {% else%}

      {% endif %}

		{% if registered %}
		Doctor consultation  Portal  says: <strong>thank you for Registering!</strong>
		<a href="/Doct/adminH/">Return to  Doctor  homepage.</a><br />
		{% else %}
		

<h3>Register: <strong>a doctor!</strong><br /></h3>
<br/>
<fieldset width="60%">
<form action="/Doct/regdoctor/" method="post" onsubmit="validateReg()">
{% csrf_token %}
<table style="border:0px solid black; width:300px; height:300px">
<tr><td>First Name</td><td> <input type="text" name="fname" id="fname"  required="True"/></td></tr>
<tr><td>Second Name</td><td><input type="text" name="sname" id="sname"  required="True"/></td></tr>
<tr><td>Patient Age</td> <td><input type="text" name="page" id="page" /></td></tr>
<tr><td>Gender</td><td> <select name="gender"  required="True"><option value="Male" >Male</option><option value="Female">Female</option></select></td></tr> 
<tr><td>Telephon No</td><td> <input type="text" name="telno" id="telno"  required="True"/></td></tr>
<tr><td>Password</td> <td><input type="password" name="password" id="pwd"  required="True"/></td> </tr> 
<tr><td>Email</td> <td> <input type="email" name="email" id="email"  required="True"/></td></tr>
<tr><td>Username</td><td><input type="text" name="username"  required="True"/></td></tr>

<tr><td>street</td><td> <input type="text" name="street" id="telno"  required="True"/></td></tr>
<tr><td> city</td> <td><input type="text" name="city" id="pwd"  required="True"/></td> </tr> 
<tr><td>state</td> <td> <input type="text" name="state" id="email"  required="True"/></td></tr>
<tr><td>zip code</td><td><input type="text" name="zip_code"  required="True"/></td></tr>
<tr><td>specialty</td><td><input type="text" name="specialty"  required="True"/></td></tr>

<tr><td></td><td><input type="hidden" name="role" value="doctor"  required="True" /></td></tr>
<tr> <td><input type="submit" name="submit" value="register" /></td></tr>  
</table> 
</form>
</fieldset>

		<!-- <form id="user_form" method="post" action="/rango/register/" enctype="multipart/form-data">

		{% csrf_token %}

		Display each form. The as_p method wraps each element in a paragraph
				(<p>) elements. This ensures each element appears on a new line,
				making everything look neater.
			{{ user_form.as_p }}
			{{ profile_form.as_p }}

			Provide a button to click to submit the form 
			<input type="submit" name="submit" value="Register" />
		</form> -->
		{% endif %}
	

	



	
{% endblock %}

