{% extends "Doct/base.html" %}
{% load staticfiles %}

{% block nav_bar %}
<div class="header" style="width: 2000px; ">
<div class="wrap">
<div class="logo"><a href="index.html" style="color: #fff; font-size: 32px;"><img src="{% static 'images/logocon.jpe' %}"  style="width:40px" alt="" />Online Doctor(Medical) Consulation</a></div>
   <div class="con-right">
      <div class="grid1-l-img">
        <img src="{% static 'images/contact.png' %}" alt="">
      </div>
      <div class="grid1-l-desc">
        <p>Contact : +256754307471</p>
      </div>
      <div class="clear"></div>
  </div>
    <div class="clear"></div>
     </div>
</div>
<div class="header-bottom">
      <div class="wrap">
        <ul id="nav">
                <li><a class="hsubs" href="/Doct/" title="Logout">Home</a></li>
                <li><a class="hsubs" href="/Doct/about/">About Us</a></li>
                <li><a class="hsubs" href="/Doct/team/">Our Team</a>
                 <li><a class="hsubs" href="/Doct/login/">Doctor/Admin Log In</a></li>
                <li><a href="/Doct/contact/">Contact Us</a></li>
                <li><a href="/Doct/how_it_works/">How it works</a></li>
                <li><a href="/Doct/convbaddy/">Converse</a></li>
                <li><a href="/Doct/whyus/">Why Us</a></li>
                    <ul class="subs">
                        <li><a href="#">Hotels</a></li>
                        <li><a href="#">Restaurants</a></li>
                        <li><a href="#">Beach Resorts</a></li>
                    </ul>
                </li>
               
        </ul>

       </div>
</div>

{% endblock %}


{% block body_block %}
<div class="hero-unit"  style="margin-left: 500px">

<br />
<div class="container">
{% if registered %}
<p>Thank you for registering.</p>
<p><a href="/Doct/">Login</a> when you are ready to Consult A doctor.</p>
{% else %}
<form class="form-signin span8" id="user_form" method="post" action="/Doct/register/"
enctype="multipart/form-data">
{% csrf_token %}
<h2 class="form-signin-heading" style="width:280px">Sign up </h2>
<!-- Display each form here -->
{% for field in user_form.visible_fields %}
{{ field.errors }}
{{ field.help_text }}<br />
<p style="margin-bottom: 20px">{{ field }}</p>
{% endfor %}
{% for field in profile_form.visible_fields %}
{{ field.errors }}
{{ field.help_text }}<br />
{{ field }}<br />
{% endfor %}
<br />
<!-- Provide a button to click to submit the form. -->
<input class="btn btn-primary" type="submit" name="submit" value="Register"/>
</form>
{% endif %}
</div>
</div>
{% endblock %}




<div class="footer-bottom" style="width: 1800px; ">
<div class="wrap">  
  <div class="copy">
    <p>ES - DOCTOR&copy; 2017 All rights Reserved | Design by <a href="http://w3layouts.com">Mandela Shaban</a> &nbsp;&nbsp;&nbsp;Photos by <a href="http://www.freegreatpicture.com/">Freegreatpicture</a></p>
  </div>
 </div>
</div>

</body>
</html>

