{% extends 'Doct/base.html' %}

{% load staticfiles %}
<h5><a href="/Doct/signout/" title=" Home">Logout</a></h5>

{% block navbar %}
<div id = "navigation">

<nav class="cf">
  <ul class="topmenu">

  

     <li><a href="/Doct/receipt/">Print reciept</a>
          <ul class="submenu">
             
                    
                    </ul>
         </li>
    
                    
    <li><a href="/Doct/" title="Logout">Logout</a>
        <ul class="submenu">
            
                    
                    </ul>
        
    </li>

      </ul>
</nav>

</div>
{% endblock %}



{% block body_block %}


{% if illness %}You have successfully sent your illness detail And Check Your Diagnosis after 5 minutes {% endif %}
<p>&nbsp;</p>
</div>

 {% if illness %} <script type="text/javascript">alert("You have successfully submitted your Illness details, Please view Your diognosis");
 return false;
 </script>
 {% endif %}
{% if pay_id %}
<h2>Your payment Id is {{pay_id}}, please don't forget it</h2>
<script type="text/javascript">alert('You have successfully submitted payment Details'); 

return false;
</script>
 {% endif %}

      <div id="content">

       {% include "Doct/notifications.html" %} 

{% if editd_response %}

<strong style="color:green">You have successfully diognised a patient</strong>



{% endif %}


{% if authindill %}

{% include "Doct/ind_ill.html" %}

{% elif ind_ill %}

{% include "Doct/viewind_ill.html" %}

{% elif endp %}

{% include "Doct/view_receipt.html" %}

{% elif editD %}

{% include "Doct/edit_diogno.html" %}

{% elif doctview_ill %}

{% include "Doct/view_illness.html" %}

{% elif dot_rec %}

{% include "Doct/doctor_authreceipt.html" %}

{% elif dform %}

{% include "Doct/diog.html" %}

{% elif indill_auth %}

{% include "Doct/ind_ill.html" %}

 {% else %}   


<strong style="color: #337ab7;">  </strong>

    <form ng-app="myApp" action="/Doct/repmsg/" method="post" ng-controller="validateCtrl" name="myForm" novalidate class="form-style-6" style="margin-left: 450px;">
{% csrf_token %}

<h1><b >Converse</b></h1>

<p>Payment Id:<br>
  <input type="text" name="gender"  style="width:280px" ng-model="gender" required>
  <span style="color:red" ng-show="myForm.gender.$dirty && myForm.gender.$invalid">
  <span ng-show="myForm.gender.$error.required">Payment Id is required.</span>
  </span>
</p>

 <input type="hidden" name="ptelno"  value="{{ptelno}}" id="gender"/>

  
<p>
  <input type="submit"
  ng-disabled="myForm.gender.$dirty && myForm.gender.$invalid" class="btn btn-primary" value="Submit">
</p>

    </form>

    <script>
var app = angular.module('myApp', []);
app.controller('validateCtrl', function($scope) {
    $scope.gender = '';
});
</script>



<div id="secure_area_message" align="center"></div>


   {% endif %}
</div>


<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'js/login_effect.js' %}"></script>
<!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js" type="text/javascript"></script>
<script>
 $(document).ready(function() {
  $('#navigation a').click(function(e) {
   e.preventDefault();
  /* $("div#my-container").load("/url/to/content/ #content-id")*/
   $('#content').load($(this).attr('href'));
   return false
  });
 });
</script> -->



<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js" type="text/javascript"></script>
<script type='text/javascript' src="{% static 'js/jquery.form-validation.js' %}"></script>

<script type="text/javascript">
   function addToDiognosis(reload)
{
//do the search
//start the ajax
var myform = $('#changediognosisform_form');
var disabled = myform.find(':input:disabled').removeAttr('disabled');
 // serialize the form
var serialized = myform.serialize();

 // re-disabled the set of inputs that you previously enabled
disabled.attr('disabled','disabled')

    $.ajax({
      //this is the php file that processes the data and send mail
      url: "{{basedir}}/rango/diognosis/",

      //GET method is used
      type: "POST",

      //pass the data
      data:serialized,

      //Do not cache the page
      cache: false,

             beforeSend: function(){
            $('#loading').show();
            },
             complete: function(){
             $('#loading').hide();
            },


      //success
        success: function (html) {
        $('#secure_area_message').html(html)  
        },
            error : function ()
            {

            }


    });
}


$(document).ready(function(){
    $("#changediognosisform_form").validate({
    rules:{
             dname:
            {
            required:true,
            maxlength:40,
            },
            telno:
            {
            required:true,
            digits: true,
            maxlength:20,
            },
             gender: /*This is the payment Id*/
            {
            required:true,
            digits: true,
            maxlength:9,
            },
            diognosis:
            {
            required:true,
            maxlength:700,
            },
              page:
            {
            required:true,
            digits: true,
            maxlength:3,
            },
             email:
            {
            required:true,
            email: true,
            maxlength:40,
            },
           
          
    },
          messages: {
        dname: {
        required: "Please provide your names",
        maxlength:"Please provide valid names",
      },
        telno: {
        required: "Telephone number is required",
        digits: "Enter the valid Telephone number",
        maxlength:"Please provide valid phone number",
      },
       gender: {  /* This is the payment Id*/
        required: "Please provide a valid Payment Id",
        digits: "Please provide a Valid Payment Id",
        maxlength:"Please provide a Valid Payment Id",
      },

        diognosis: {
        required: "Please provide sickness details",
        maxlength:"Please briefly explain sickness",
      },
      page: {
      required: "Please provide your age",
      digits: "Enter the valid age",
      maxlength:"Please provide a valid age",
      },

        email: {
        required: "Email is required",
        digits: "Enter the valid email address",
        maxlength:"Please provide a Valid email address",
      },
    
    
    },

    submitHandler: function(form) {
    addToDiognosis();
    }

    });
    });





$(document).ready(function(){
    $("#changeauthindillform_form").validate({
    rules:{
            username:
            {
            required:true,
            maxlength:40,
            },
          
    },
          messages: {
        username: {
        required: "Please provide your username",
        maxlength:"Please provide valid username",
      },
    
    },


    });
    });



$(document).ready(function(){
    $("#changereceiptform_form").validate({
    rules:{
            id:
            {
            required:true,
            digits: true,
            maxlength:40,
            },
          
    },
          messages: {
        id: {
        required: "Please provide your username",
        digits: "Please provide a Valid Transaction Id",
        maxlength:"Please provide valid username",
      },
    
    },


    });
    });






$(document).ready(function(){
    $("#changeeditdiogform_form").validate({
    rules:{
             dname:
            {
            required:true,
            maxlength:40,
            },
            telno:
            {
            required:true,
            digits: true,
            maxlength:20,
            },
             gender: /*This is the payment Id*/
            {
            required:true,
            digits: true,
            maxlength:9,
            },
            diognosis:
            {
            required:true,
            maxlength:700,
            },
              page:
            {
            required:true,
            digits: true,
            maxlength:3,
            },
             email:
            {
            required:true,
            email: true,
            maxlength:40,
            },
           
          
    },
          messages: {
        dname: {
        required: "Please provide your names",
        maxlength:"Please provide valid names",
      },
        telno: {
        required: "Telephone number is required",
        digits: "Enter the valid Telephone number",
        maxlength:"Please provide valid phone number",
      },
       gender: {  /* This is the payment Id*/
        required: "Please provide a valid Payment Id",
        digits: "Please provide a Valid Payment Id",
        maxlength:"Please provide a Valid Payment Id",
      },

        diognosis: {
        required: "Please provide sickness details",
        maxlength:"Please briefly explain sickness",
      },
      page: {
      required: "Please provide your age",
      digits: "Enter the valid age",
      maxlength:"Please provide a valid age",
      },

        email: {
        required: "Email is required",
        digits: "Enter the valid email address",
        maxlength:"Please provide a Valid email address",
      },
    
    
    },


    });
    });





</script>

  



{% endblock %}

{% block footer %}
<p>Posted by Mandela Shaban<br/>Contact Information:<a href="mailto:mandelashaban593@gmail.com"></a><br/>
&copy; Consult Doctor : Fast and Cheap Response 2016</p>
{% endblock %}