{% extends "Doct/base_site_admin.html" %}


{% block breadcrumbs %}
<ul class="breadcrumb">
<li>Home</li>
</ul>
{% endblock %}

{% block pretitle %}
Remit Dashboard
{% endblock %}


{% block content %}


<section class="module no-head">
      <div class="module-body no-padding">
        <section class="docs">
          <h2>Welcome To The Es-Doctor  Staff Dashboard</h2>
          <p> <i>with great power comes great responsiblity </i></p>

            <!--
            <ol>
              <li>Everything You do is monitored</li>
              <li>Don't do anything stupid</li>
              <li>If and when you do something stupid , tell an Admin</li>
            </ol>
            -->
            <div class="muted">

        {% include "Doct/notifications.html" %}

        </div>
        
        </section>

        {% if authindill %}

{% include "Doct/ind_ill.html" %}

{% elif ind_ill %}

{% include "Doct/viewind_ill.html" %}

{% elif editD %}

{% include "Doct/edit_diogno.html" %}

{% elif doctview_ill %}

{% include "Doct/view_illness.html" %}

{% elif dot_rec %}

{% include "Doct/doctor_authreceipt.html" %}

{% elif dform %}

{% include "Doct/diog.html" %}

{% elif indill_auth %}

{% include "Doct/ind_ill.html" %}

{% elif fup %}

{% include "Doct/fup.html" %}

 {% else %}




{% load staticfiles %}

<script language="javascript">
function printPage(id) {
    var html="<html>";
    html+= document.getElementById(id).innerHTML;
    html+="</html>";
    var printWin = window.open('','','left=0,top=0,width=1,height=1,toolbar=0,scrollbars=0,status =0');
    printWin.document.write(html);
    printWin.document.close();
    printWin.focus();
    printWin.print();
    printWin.close();
}
</script>

{% if illness %}You have successfully sent your Sickness detail And Check Your Diagnosis after 5 minutes {% endif %}
<p>&nbsp;</p>
<div class="heder"><h1>Patients'  Payment Receipt</h1></div>
<p>&nbsp;</p>



 <table width="300" border="0" cellpadding="30" style="text-align: center">

  <tr><th><span style="font-weight: bold;">Transaction Id</span></th>  <td><a href="tel:0123456785">{{p.id}}</a></td> </tr>

  <tr> 
    <th width="75"><strong> Telephone Number</strong></th> <td>{{p.telno}}</td></tr>
  
   <tr><th><span style="font-weight: bold;">Amount</span></th>  <td><a href="tel:0123456785">{{p.amount}}</a></td> </tr>
   <tr><th><span style="font-weight: bold;">Staff pic</span></th><td><img src="{% static 'doct.jpg' %}" alt="checked" width="50px" height="50px" /></td></tr>
   <tr><th width="75"><strong>Gender</strong></th><td>{{p.gender}}</td> </tr>
   <tr><th width="75"><strong>When</strong></th><td><a href="tel:0123456785">{{p.added}}</a></td> </tr>
   <tr><th width="75"><strong>Staff Pic</strong></th><td><img src="{% static 'pat.jpg' %}" alt="checked"  width="50px" height="50px"/></td></tr>
 
    </tr>


   </table>


<center><input type="button" value="print" onclick="printPage('content');"/> </center>






   {% endif %}
</div>

</section>     

{% endblock %}
