{% load staticfiles %}
{% if illness %}You have successfully sent your illness detail And Check Your Diagnosis after 5 minutes {% endif %}

<h2>Patients'  Illness</h2>
 <table width="300" border="0" cellpadding="30" class="table table-striped table-bordered" id="example" style="text-align: center">

  <tr> 

  <th><span style="font-weight: bold;">Staff pic</span></th> 
  <th width="75"><strong>Payment Id</strong></th> 
  <th><span style="font-weight: bold;">Illness</span></th>
  <th><span style="font-weight: bold;">Staff pic</span></th>  
  <th><span style="font-weight: bold;">Kintelno</span></th> 
  <th><span style="font-weight: bold;">Staff pic</span></th> 
  <th width="75"><strong>Patient age</strong></th> 
  </tr> 
{% for ill in ill %}
  <tr> 
   <td><img src="{% static 'img/doct.jpg' %}" alt="checked" width="50px" height="50px" /></td>
   <td>{{ill.gender}}</td> 
   <td><a href="#">{{ill.illness}}</a></td> 
   <td><img src="{% static 'img/pat.jpg' %}" alt="checked"  width="50px" height="50px"/></td>
   <td><a href="#">{{ill.kintelno}}</a></td> 
   <td><img src="{% static 'img/doct2.jpg' %}" alt="checked" width="50px" height="50px"/></td>
    <td><a href="#">{{ill.page}}</a></td>
 
   
    </tr>
{% endfor %}

   </table>

<div class="pagination">
<ul>
  {% if ill.has_previous %}
    <li><a href="?page={{ ill.previous_page_number }}">&laquo;</a></li>
  {% else %}
    <li class="disabled"><a href="#">&laquo;</a></li>
  {% endif %}

  {% for num in ill.paginator.page_range %}
    {% ifequal num ill.number %}
      <li class="active"><a href="#">{{ num }}</a></li>
    {% else %}
      <li><a href="?page={{ num }}">{{ num }}</a></li>
    {% endifequal %}
  {% endfor %}

  {% if ill.has_next %}
    <li><a href="?page={{ ill.next_page_number }}">&raquo;</a></li>
  {% else %}
    <li class="disabled"><a href="#">&raquo;</a></li>
  {% endif %}
</ul>

</div>