@charset "utf-8";
/* CSS Document */

*
{
  margin:0;
  padding:0;
}



#map{
	width: 500px;
	height: 400px;
	background-color: #CCC;
}


#table1{
	width: 100%;
	background: #e8e8e8;
	border: 1px solid #dadada;
	padding: 5px 10px 20px 20px;
}

#table1 tr, td{
	width:55%;
height:80px;
margin-top:3px;
border-radius:3px;
padding:2px;
resize:none;
}


#table2 tr, td{
	width:10%;
height:80px;
margin-top:3px;
border-radius:3px;
padding:0px;
resize:none;
}



#contactdiv{
opacity:0.92;
position: absolute;
top: 0px;
left: 0px;
height: 100%;
width: 90%;
background: #e8e8e8;
display: none;
}

#error{
	font-size:20px;
	font-family: sans-serif;
text-align:center;
text-shadow:1px 0px 3px green;
}


/*Latest from php css*/
html{
/*
background-color:grey;

*/


}
h3{
background-color:blue;
color:#ffffff;
padding:4px 8px;
font-style:italic;
border:5px solid blue;
}




#foot{

background-color:#333;
width:100%;
bottom:0;	
position:relative;
margin-left:2px;




}

 
  form{
  width:500px;
  margin:0 auto 0 auto;
  
  
  }
  
  label {
  display:block;
  margin:0.3em 0 0.3em 2em ;
  font-family:Arial,Helvetica,sans-serif;
  color:#000000;
  font-size:1em;
  
  
  }
  
  input{
  width:250px;
  margin:0 0 0 2em;
  
  }
  textarea{
  width:250px;
  margin:0 0 0 2em;
  
  }
  fieldset{
  border:none;
  background:#F1F1F1;
  padding:auto;
  
  }
  fieldset.first{
  background:#F1F1F1;
  
  
  }
  .labelone{
  margin-top:1em;
  color:#000000;
  
  
  }
  .btn{
  width:125px;
  margin:0 0 0 2em;
  font-family:Arial,Helvetica,sans-serif;
  font-weight:bold;
  }
  form h4{
 margin:1em 0 1.5em;
 font-family:Arial,Helvetica,sans-serif;
 color:#000000;
 font-weight:bold; 
  }
  div h4{
  background-color:blue;
color:#ffffff;
padding:4px 8px;
font-style:italic;
border:5px solid green;
top:1000px;
  
  
  }


#reg{

top:400px;
left:90px;
width:200px;
position:absolute;
padding-left:20px;
font-family:Helvetica,Geneva,Arial,SunSans-Regular,sans-serif;
list-style-type:none;
display:block;

}


img{
z-index:-1;

}

.navb2{
display:block;
overflow:hidden;
width:auto;
float:left;
font-size:15px;
margin-bottom: 10px;

}

.navb2  a{
text-align: left;
padding-top:16px;
margin-bottom: 10px;
color: #fff;
}

#header
{
  width:97%;
  height:50px;
  background:#00a2d1;
  color:#f9f9f9;
  font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size:35px;
  text-align:center;
}

.imgs{
  margin-top: 5px
  padding-top: 3px;
  margin-left: 0px;
  left: 30px;
}

h1{
  background-color:blue;
color:white;
padding:4px 8px;
font-style:italic;
border:5px solid blue;
}



/*Navagation Bar*/

