
{% load url from future %}


{{ check_admin }}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
    <title>{{APP_NAME}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="shortcut icon" href="{{STATIC_URL}}images/favicon.ico" type="image/x-icon" >
    {% block extrastyle %}{% endblock %}



        <!-- BOOTSTRAPS -->
<link type="text/css" href="{{STATIC_URL}}/css/bootstrap.min.css" rel="stylesheet">
    <!-- THEMES -->
<link type="text/css" href="{{STATIC_URL}}/css/theme.css" rel="stylesheet">
    <!--ICONS-->
<link type="text/css" href="{{STATIC_URL}}css/font-awesome.css" rel="stylesheet">

<!--JAVASCRIPTS-->

    <script src="{{STATIC_URL}}/js/jquery-1.9.1.min.js"></script>
    <script src="{{STATIC_URL}}/js/bootstrap.min.js"></script>



    {% block extrahead %}{% endblock %}

    {% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}
    <script type="text/javascript">
jQuery.browser = {};
(function () {
    jQuery.browser.msie = false;
    jQuery.browser.version = 0;
    if (navigator.userAgent.match(/MSIE ([0-9]+)\./)) {
        jQuery.browser.msie = true;
        jQuery.browser.version = RegExp.$1;
    }
})();

//<![CDATA[
            (function($) {
                $(document).ready(function() {
                    $('input[type="submit"]').addClass('btn');
                    $('[title]').tooltip();
                });
            }(jQuery));
    //]]>

    </script>




</head>
{% load i18n %}

<body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}">




    <div class="frame">

{% if  user.is_staff %}

    <div class="sidebar">
<div class="wrapper">

    <a href="{% url 'admin:admin_dashboard' %}" class="profile">
        <img src="{{STATIC_URL}}admin/img/user.jpg" class="avatar pull-left" width="30" style="margin-right: 15px; border-radius: 4px">
        {{ user.username}}
    </a>
    <ul class="nav nav-list">


            <li>
            <a href="{% url 'admin:admin_dashboard' %}"><i class="icon-dashboard"></i>Dashboard</a>
            </li>


            {% if profile.is_customer_care %}


            <li class="">
            <a href="{% url 'admin:cc_transaction_search' %}"><i class="icon-search"></i>Search Transactions
            </a>
            </li>

            {% else %}


            {% if permissions.view_rate or request.user.is_superuser %}

            <li>
            <a href="{% url 'admin:admin_rates' 'UG' %}"><i class="icon-bar-chart"></i>Rates
            </a>
            </li>

            {% endif %}


            {% if request.user.is_superuser %}

            <li>
            <a href="{% url 'admin:admin_charges_limits' 'UG' %}"><i class="icon-bar-chart"></i>Charges & Limits
            </a>
            </li>

            <li>
            <a href="{% url 'admin:admin_transfer_fee' 'UG' %}"><i class="icon-bar-chart"></i>Transfer Fee
            </a>
            </li>

            {% endif %}





            {% if permissions.view_transaction or request.user.is_superuser %}

            <li>
            <a href="{% url 'admin:admin_transactions' 'search'  %}"><i class="icon-warning-sign"></i>Transactions
            </a>
            </li>


            <li class="">
            <a href="{% url 'admin:cc_transaction_search' %}"><i class="icon-search"></i>Search Transactions
            </a>
            </li>


            {%endif%}


            {% if permissions.edit_transaction or request.user.is_superuser %}

            <li>
            <a href="{% url 'admin:admin_transactions' 'failed'  %}"><i class="icon-warning-sign"></i>Failed Transactions
            </a>
            </li>


            <li class="">
            <a href="{% url 'admin:admin_transactions' 'pending'  %}"><i class="icon-exclamation"></i>Pending Transactions
            {% if admin_data.pending_transactions %}<b class="label">{{admin_data.pending_transactions}}</b>{%endif%}
            </a>
            </li>


            <li class="">
            <a href="{% url 'admin:admin_transactions' 'successful'  %}"><i class="icon-money"></i>Successful Transactions
            </a>
            </li>

            <li class="">
            <a href="{% url 'admin:admin_transactions' 'canceled'  %}"><i class="icon-exclamation"></i>Canceled Transactions
            {% if admin_data.pending_transactions %}<b class="label">{{admin_data.pending_transactions}}</b>{%endif%}
            </a>
            </li>


            {% endif %}

            <li id="link-title"class="">
                <a>Consultation Transactions</a>
            </li>

            {% if permissions.edit_transaction or request.user.is_superuser %}

            <li>
                <a href="{% url 'admin:bill_transactions' 'search'  %}"><i class="icon-warning-sign"></i>All
                </a>
            </li>

            <li>
            <a href="{% url 'admin:bill_transactions' 'failed'  %}"><i class="icon-warning-sign"></i>Failed Transactions
            </a>
            </li>


            <li class="">
            <a href="{% url 'admin:bill_transactions' 'pending'  %}"><i class="icon-exclamation"></i>Pending Transactions
            {% if admin_data.pending_transactions %}<b class="label">{{admin_data.pending_transactions}}</b>{%endif%}
            </a>
            </li>


            <li class="">
            <a href="{% url 'admin:bill_transactions' 'successful'  %}"><i class="icon-money"></i>Successful Transactions
            </a>
            </li>

            <li class="">
            <a href="{% url 'admin:bill_transactions' 'canceled'  %}"><i class="icon-exclamation"></i>Canceled Transactions
            {% if admin_data.pending_transactions %}<b class="label">{{admin_data.pending_transactions}}</b>{%endif%}
            </a>
            </li>

            <li class="">
            <a href="{% url 'admin:transaction_status'%}"><i class="icon-money"></i>Transaction Status
            </a>
            </li>


            {% endif %}



            {% if permissions.view_profile or request.user.is_superuser %}

            <li class="">
            <a href="{% url 'admin:admin_users' 'search'  %}"><i class="icon-search"></i>Search Users
            </a>
            </li>

            {%endif%}



            {% if permissions.edit_profile or request.user.is_superuser %}

            <li class="">
            <a href="{% url 'admin:admin_users' 'pending_verification'  %}"><i class="icon-exclamation"></i>Users Pending Verification
            {% if admin_data.pending_user_count %}<b class="label">{{admin_data.pending_user_count}}</b>{%endif%}
            </a>
            </li>


               <li class="">
            <a href="{% url 'admin:admin_users' 'blocked'  %}"><i class="icon-remove-sign"></i>Blocked Users
            {% if admin_data.blocked_user_count %}<b class="label error">{{admin_data.blocked_user_count}}</b>{%endif%}
            </a>
            </li>


            <li class="">
            <a href="{% url 'admin:admin_users' 'unverified'  %}"><i class="icon-thumbs-down"></i>Unverifed Users
            </a>
            </li>


            <li class="">
            <a href="{% url 'admin:admin_users' 'verified'  %}"><i class="icon-thumbs-up"></i>Verified Users
            </a>
            </li>

            {% endif %}


            {%if permissions.view_reports or request.user.is_superuser %}


             <li>
            <a href="{% url 'admin:admin_reports' %}"><i class="icon-bar-chart"></i>Reports
            </a>
            </li>


            {%endif%}


            {%if permissions.view_audit_trail or request.user.is_superuser %}


              <li>
            <a href="{% url 'admin:audits_trails' %}"><i class="icon-bar-chart"></i>Audits Trails
            </a>
            </li>

            {%endif%}








            {% if request.user.is_superuser%}

              <li>
            <a href="{% url 'admin:view_admin_user' %}"><i class="icon-user"></i>Stuff Users
            </a>
            </li>

            <li>
            <a href="{% url 'admin:create_admin_user' %}"><i class="icon-user"></i>Create Admin User
            </a>
            </li>


            <li>
            <a href="{% url 'admin:create_customer_care_user' %}"><i class="icon-user"></i>Create Customer Care User
            </a>
            </li>


            <li>
            <a href="{% url 'admin:admin_logs' %}"><i class="icon-eye-open"></i>Logs
            </a>
            </li>


            <li>
            <a href="{% url 'admin:admin_seo' %}"><i class="icon-eye-open"></i>Edit SEO
            </a>
            </li>


            <li>
            <a href="{% url 'admin:export_data' %}"><i class="icon-eye-open"></i>Export Data
            </a>
            </li>




            {%endif%}





        {% endif %}


        <li class="">
            <a href="{% url 'admin:admin_logout' %}"><i class="icon-signout"></i>Logout
            </a>
            </li>

        </ul>

        {% block sidebar %}{% endblock %}
        </div>
        </div>

{% endif %}

<div class="content">

{% if user.is_active and user.is_staff %}
    <div class="navbar navbar-static-tops">



          {% block navbar %}

                <div class="navbar-inner">
                <a href="javascript:void(0);" class="btn pull-left toggle-sidebar hidden-desktop"><i class="icon-reorder"></i></a>
                    <a class="brand" href="#">{% block pretitle %}{% endblock %}</a>
                    {% block object-tools %}{% endblock %}
                </div>
        {% endblock navbar %}



</div><!--/.navbar -->

        <div class="content-head">

            {% if not is_popup %}
            {% block breadcrumbs %}
            {% endblock %}
            {% endif %}

        <div class="muted">

        {% include "Doct/notifications.html" %}

        </div>


        {% block headcontent %} {% endblock headcontent %}


    </div>

{% endif %}


    <div class="content-body">
        {% block content %}{{ content }}{% endblock %}
    </div>

    </div>





<script src="{{STATIC_URL}}admin/dashboard/scripts/theme.js"></script>


</body>
</html>
