{% extends "admin/base_site.html" %}
{% load i18n admin_static bootstrapped_goodies_tags %}
{% load custom_filters %}

{% load url from future %}


{% block breadcrumbs %}
<ul class="breadcrumb">
<li><a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
<span class="divider"><i class="icon-angle-right"></i></span>
</li>
<li>{{ page_title |capfirst }}</li>
</ul>
{% endblock %}


{% block pretitle %}
{{pretitle |capfirst  }}
{% endblock %}


{% block content %}




<section class="row-fluid">
      <div class="span12">
        <div class="module no-head message">
          <div class="module-body no-padding">
            <div class="module-option">
              <div class="row-fluid">
                <div class="span12">
                  <form class="form-vertical" method="POST" action="{% url 'admin:export_data' %}">
                  {% csrf_token %}
               <div class="control-group  controls-row controls">   


            <div class="span5">
            <label class="control-label" for="basicinput">Data Type</label>
            <div class="controls">
              <div class="input-appendspan11">
                <select name="data_type" class="span12">
                <option value="1" >Verified Users</option>
                <option value="2" >Users Pending Verification</option>
                <option value="3" >Blocked Users</option>
                <option value="4" >UnVerified Users</option>
                </select>
              </div>
            </div>
          </div>

          <!--

            <div class="span2">
            <label class="control-label" for="basicinput">Mobile Network</label>
            <div class="controls">
              <div class="input-appendspan11">
                <select name="network" class="span12">
                
                {%if request.user.is_superuser %}
                {%if not request.GET.network or request.GET.network == 'All' %} <option value="All">----</option>{%endif%}
                {%endif%}

                {%for key,value in networks %}
                <option value="{{key}}" {%if request.GET.network == key %} selected="selected" {%endif%}>{{value}}</option>
                {%endfor%} 
                </select>
              </div>
            </div>
          </div>


            <div class="span2">
            <label class="control-label" for="basicinput">Sender Country</label>
            <div class="controls">
              <div class="input-appendspan11">


                <select name="sender_ctry" class="span12">
                

                 <option value="All">----</option>
                {% for tr in countries_list %}
                <option value="{{tr}}" {%if request.GET.sender_ctry == tr %} selected="selected" {%endif%}>{{tr}}</option>
                {%endfor%} 

                </select>
              </div>
            </div>
          </div>

    
          
            
            <div class="span2">
            <label class="control-label" for="basicinput">Start Date</label>
            <div class="controls">
              <div class="input-append span11">
                <input class="span12"  id="start_date" data-date="{{start_date}}" data-date-format="dd-mm-yyyy" size="16" type="text" value="{{start_date}}" readonly="" name="start_date">
                <span class="add-on"><i class="icon-calendar"></i></span>
              </div>
            </div>
          </div>

          <div class="span2">
            <label class="control-label" for="basicinput">End Date</label>
            <div class="controls">
              <div class="input-append span10" >
                <input class="span12" id="end_date" data-date="{{end_date}}" data-date-format="dd-mm-yyyy" size="16" type="text" value="{{end_date}}" readonly="" name="end_date">
                <span class="add-on"><i class="icon-calendar"></i></span>
              </div>
            </div>
          </div>

          -->

           <div class="span2" style="float:left;margin-top:24px;">
            <div class="controls">
              <div class="input-append date">
              <button class="btn btn-primary" type="submit">Export Data</button>
              </div>
            </div>
          </div>

          </div>



          <!--
          <div class="control-group  controls-row controls">   
            <div class="span5">
            <div class="controls">
              <div class="input-appendspan11">
              <label class="control-label" for="basicinput">Successful Transactions</label>
              <input class="span12" id="transaction_status" name="transaction_status" type="radio">
              </div>
            </div>
          </div>
          </div>
          -->



                  </form>
                </div>
                


              </div>
            </div>





        <div class="module-body">
        <section class="module">
        
        </section>
       </div><!--/.module-body-->
        </div><!--/.module.message-->
      </div><!--/.span12-->
    </section>
{% endblock %}


