{% extends "admin/base_site.html" %}
{% load i18n admin_static bootstrapped_goodies_tags %}
{% load custom_filters %}
{% load validation_tags %}
{% load url from future %}


{% block breadcrumbs %}
<ul class="breadcrumb">
<li><a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
<span class="divider"><i class="icon-angle-right"></i></span>
</li>
<li>{{ page_title |capfirst }}</li>
</ul>
{% endblock %}


{% block pretitle %}
{{pretitle |capfirst  }}
{% endblock %}




{% block content %}





<section class="module rates">
			<div class="module-head">
				<ul class="module-control pull-left">
					{% for country in countries %}
					<li  {% if rate.country.name == country.name %}class="active"{%endif%} ><a href="{{country.admin_rates_limits_url}}">{{country.name}}</a></li>
					{% endfor %}
				</ul>
			</div><!--/.module-head-->
			<div class="module-body">
				<div class="tab">
					<div class="tab-content">
						<div class="tab-pane fade active in" id="tab-1">
							<form class="form-horizontal" method="POST" action="{{rate.admin_rates_limits_url}}" id="charges_limits_form">
								{% csrf_token %}
					

								<div class="control-group">
								<label class="control-label" for="basicinput">USD to {{rate.country.currency}}</label>
								<!-- Implement Tiered-->
								<div class="controls">
										<input type="text" name="to_usd" value="{{rate.to_usd}}" class="span7" required="required">
									</div>
								</div>

								<div class="control-group">
								<label class="control-label" for="basicinput">GBP to {{rate.country.currency}}</label>
								<!-- Implement Tiered-->
								<div class="controls">
										<input type="text" name="to_gbp" value="{{rate.to_gbp}}" class="span7" required="required">
									</div>
								</div>


								<div class="control-group">
								<label class="control-label" for="basicinput">EUR to {{rate.country.currency}}</label>
								<!-- Implement Tiered-->
								<div class="controls">
										<input type="text" name="to_eur" value="{{rate.to_eur}}" class="span7" required="required">
									</div>
								</div>
						

								{% if not rate.country.currency = 'UGX' %}
								<div class="control-group">
								<label class="control-label" for="basicinput">UGX to {{rate.country.currency}}</label>
								<!-- Implement Tiered-->
								<div class="controls">
										<input type="text" name="to_eur" value="{{rate.to_ugx}}" class="span7" required="required">
									</div>
								</div>
								{% endif %}

								{% if not rate.country.currency = 'KES' %}
							<div class="control-group">
								<label class="control-label" for="basicinput">KES to {{rate.country.currency}}</label>
								<!-- Implement Tiered-->
								<div class="controls">
										<input type="text" name="to_eur" value="{{rate.to_kes}}" class="span7" required="required">
									</div>
								</div>

								{% endif %}

								{% if not rate.country.currency = 'RWF' %}

								<div class="control-group">
								<label class="control-label" for="basicinput">RWF to {{rate.country.currency}}</label>
								<!-- Implement Tiered-->
								<div class="controls">
										<input type="text" name="to_eur" value="{{rate.to_rwf}}" class="span7" required="required">
									</div>
								</div>

								{% endif %}


								<div class="control-group">
									<div class="controls">
										<button type="submit" class="btn btn-primary">Update Rates</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>


			</div><!--/.module-body-->


				
				<ul class="module-control pull-right">
					<li class="active"><a href="#" >Last updated by  {{rate.user}} on {{rate.added | date:"F j, o" }} </a></li>
				</ul>


		</section>

<!-- Form Validation -->
<script type="text/javascript" src="{{STATIC_URL}}js/jquery.form-validation.js"></script>
<script type="text/javascript">
$(document).ready(function(){
    $("#charges_limits_form").validate({

    rules:{% validation_rules  form %} ,
    messages: {% validation_messages form %} ,

    });
    });
</script>


{% endblock %}