{% extends "admin/base_site.html" %}
{% load i18n admin_static bootstrapped_goodies_tags %}
{% load custom_filters %}

{% block breadcrumbs %}
<ul class="breadcrumb">
<li>{% trans 'Home' %}</li>
</ul>
{% endblock %}

{% block pretitle %}
Remit Dashboard
{% endblock %}


{% block content %}


<section class="module no-head">
      <div class="module-body no-padding">
        <section class="docs">
          <h2>An Error Occurred</h2>
          <p> <i>with great power comes great responsiblity </i></p>
        </section>



</div>
   
</section>     

{% endblock %}


