{% extends "admin/base_site.html" %}
{% load i18n admin_static bootstrapped_goodies_tags %}
{% load custom_filters %}

{% load url from future %}

{% load validation_tags %}

{% block breadcrumbs %}
<ul class="breadcrumb">
<li><a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
<span class="divider"><i class="icon-angle-right"></i></span>
</li>
<li>{{ page_title |capfirst }}</li>
</ul>
{% endblock %}


{% block pretitle %}
{{pretitle |capfirst  }}
{% endblock %}




{% block content %}





<section class="module rates">
			<div class="module-head">
				<ul class="module-control pull-left">
					<li class="active"><a href="element-form.html#tab-1" data-toggle="tab">SEO</a></li>
					
					<!--
					<li><a href="element-form.html#tab-2" data-toggle="tab">Tiered pricing</a></li>
					-->

				</ul>
			</div><!--/.module-head-->
			<div class="module-body">
				<div class="tab">
					<div class="tab-content">
						<div class="tab-pane fade active in" id="tab-1">
							<form class="form-horizontal" id="editseoform" name="editseoform"  method="POST" action="{% url 'admin:admin_seo' %}">
								{% csrf_token %}
							<input type="hidden" name="update_rates" value="True">

								<div class="control-group">
									<label class="control-label" for="basicinput"> Keywords </label>
									<div class="controls">
										<textarea class="span7" name="keywords" rows="2">{{metadata.keywords}}</textarea>			
									</div>
								</div>

								<div class="control-group">
									<label class="control-label" for="basicinput"> Description </label>
									<div class="controls">
										<textarea class="span7" name="description" rows="2">{{metadata.description}}</textarea>			
									</div>
								</div>


								<div class="control-group">
									<label class="control-label" for="basicinput"> Title </label>
									<div class="controls">
										<textarea class="span7" name="title" rows="2">{{metadata.title}}</textarea>			
									</div>
								</div>

								<div class="control-group">
									<label class="control-label" for="basicinput"> Extras </label>
									<div class="controls">
										<textarea class="span7" name="extras" rows="2">{{metadata.extras}}</textarea>			
									</div>
								</div>

								<div class="control-group">
									<div class="controls">
										<button type="submit" class="btn btn-primary">Update SEO</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>


			</div><!--/.module-body-->


				
				<ul class="module-control pull-right">
					<li class="active"><a href="#" >Last updated by  {{metadata.added_by}} on {{metadata.added_on | date:"F j, o" }} </a></li>
				</ul>


		</section>


    
<!-- Form Validation -->
<script type="text/javascript" src="{{STATIC_URL}}js/jquery.form-validation.js"></script>
<script type="text/javascript">
$(document).ready(function(){
    $("#editseoform").validate({

    rules:{% validation_rules  form %} ,
    messages: {% validation_messages form %} ,

    });
    });
</script>

{% endblock %}